In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\StudySources\\Master\\ERP\\Datasets\\2021\\IMD.csv")

df

,mnemonic,2021 super output area - lower layer,Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Rank,Index of Multiple Deprivation (IMD) Decile
0,E01000001,City of London 001A,E09000001,City of London,"29,199",9
1,E01000002,City of London 001B,E09000001,City of London,"30,379",10
2,E01000003,City of London 001C,E09000001,City of London,"14,915",5
3,E01000005,City of London 001E,E09000001,City of London,"8,678",3
4,E01000006,Barking and Dagenham 016A,E09000002,Barking and Dagenham,"14,486",5
...,...,...,...,...,...,...
32839,E01033764,Liverpool 022E,E08000012,Liverpool,116,1
32840,E01033765,Liverpool 061D,E08000012,Liverpool,945,1
32841,E01033766,Liverpool 042G,E08000012,Liverpool,"12,842",4
32842,E01033767,Liverpool 050J,E08000012,Liverpool,422,1
32843,E01033768,Liverpool 037F,E08000012,Liverpool,"1,833",1

In [4]:
greater_manchester_areas = [
    'Bolton', 'Bury', 'Manchester', 'Oldham', 'Rochdale',
    'Salford', 'Stockport', 'Tameside', 'Trafford', 'Wigan'
]

mask = df['2021 super output area - lower layer'].str.contains('|'.join(greater_manchester_areas), case=True, na=False)
df_gm = df[mask]

df_gm

,mnemonic,2021 super output area - lower layer,Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Rank,Index of Multiple Deprivation (IMD) Decile
4642,E01004766,Bolton 005A,E08000001,Bolton,"7,694",3
4643,E01004767,Bolton 005B,E08000001,Bolton,"10,776",4
4644,E01004768,Bolton 001A,E08000001,Bolton,"28,288",9
4645,E01004769,Bolton 003A,E08000001,Bolton,"24,505",8
4646,E01004770,Bolton 003B,E08000001,Bolton,"22,815",7
...,...,...,...,...,...,...
32759,E01033684,Manchester 013F,E08000003,Manchester,"16,686",6
32760,E01033685,Manchester 003F,E08000003,Manchester,"11,316",4
32761,E01033686,Manchester 028F,E08000003,Manchester,"5,347",2
32762,E01033687,Manchester 003G,E08000003,Manchester,"3,067",1
32763,E01033688,Manchester 013G,E08000003,Manchester,262,1

In [5]:
df_gm.to_csv("C:\\StudySources\\Master\\ERP\\Datasets\\2021\\IMD_Greater_Manchester.csv", index=False)

In [32]:
df2011 = pd.read_excel("C:\\StudySources\\Master\\ERP\\Datasets\\2011\\IMD.xls", sheet_name="IMD 2010")

In [33]:
mask1 = df2011['LA NAME'].str.contains('|'.join(greater_manchester_areas), case=True, na=False)
df2011_gm = df2011[mask1]

df2011_gm

,LSOA CODE,LA CODE,LA NAME,GOR CODE,GOR NAME,IMD SCORE,RANK OF IMD SCORE (where 1 is most deprived)
4765,E01004766,00BL,Bolton District,B,North West,29.496680,8414
4766,E01004767,00BL,Bolton District,B,North West,21.639250,12782
4767,E01004768,00BL,Bolton District,B,North West,12.626880,20810
4768,E01004769,00BL,Bolton District,B,North West,7.904819,26715
4769,E01004770,00BL,Bolton District,B,North West,9.612820,24537
...,...,...,...,...,...,...,...
6406,E01006407,00BW,Wigan District,B,North West,12.292130,21187
6407,E01006408,00BW,Wigan District,B,North West,33.599510,6702
6408,E01006409,00BW,Wigan District,B,North West,13.625530,19653
6409,E01006410,00BW,Wigan District,B,North West,12.164020,21346
6410,E01006411,00BW,Wigan District,B,North West,63.777330,545

In [34]:
df2011_gm.to_csv("C:\\StudySources\\Master\\ERP\\Datasets\\2011\\IMD_Greater_Manchester.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\StudySources\\Master\\ERP\\Datasets\\2011\\IMD_Greater_Manchester.csv'

In [ ]:
df2011 = pd.read_csv("C:\\StudySources\\Master\\ERP\\Datasets\\2011\\IMD_Greater_Manchester.csv")

In [ ]:
df2011

,mnemonic,LA CODE,LA NAME,IMD SCORE,RANK OF IMD SCORE (where 1 is most deprived),2011 super output area - lower layer
0,E01004766,00BL,Bolton District,29.496680,8414,Bolton District 00BL
1,E01004767,00BL,Bolton District,21.639250,12782,Bolton District 00BL
2,E01004768,00BL,Bolton District,12.626880,20810,Bolton District 00BL
3,E01004769,00BL,Bolton District,7.904819,26715,Bolton District 00BL
4,E01004770,00BL,Bolton District,9.612820,24537,Bolton District 00BL
...,...,...,...,...,...,...
1641,E01006407,00BW,Wigan District,12.292130,21187,Wigan District 00BW
1642,E01006408,00BW,Wigan District,33.599510,6702,Wigan District 00BW
1643,E01006409,00BW,Wigan District,13.625530,19653,Wigan District 00BW
1644,E01006410,00BW,Wigan District,12.164020,21346,Wigan District 00BW
1645,E01006411,00BW,Wigan District,63.777330,545,Wigan District 00BW

In [ ]:
df2011['2011 super output area - lower layer'] = df2011['LA NAME'] + ' ' + df2011['LA CODE']

In [ ]:
df2011.columns

Index(['mnemonic', 'LA CODE', 'LA NAME', 'IMD SCORE',
       'RANK OF IMD SCORE (where 1 is most deprived)',
       '2011 super output area - lower layer'],
      dtype='object')

In [ ]:
df_selected = df2011[['2011 super output area - lower layer', 'mnemonic', 'IMD SCORE', 'RANK OF IMD SCORE (where 1 is most deprived)']]

In [ ]:
df_selected

,2011 super output area - lower layer,mnemonic,IMD SCORE,RANK OF IMD SCORE (where 1 is most deprived)
0,Bolton District 00BL,E01004766,29.496680,8414
1,Bolton District 00BL,E01004767,21.639250,12782
2,Bolton District 00BL,E01004768,12.626880,20810
3,Bolton District 00BL,E01004769,7.904819,26715
4,Bolton District 00BL,E01004770,9.612820,24537
...,...,...,...,...
1641,Wigan District 00BW,E01006407,12.292130,21187
1642,Wigan District 00BW,E01006408,33.599510,6702
1643,Wigan District 00BW,E01006409,13.625530,19653
1644,Wigan District 00BW,E01006410,12.164020,21346
1645,Wigan District 00BW,E01006411,63.777330,545

In [ ]:
df_selected.to_csv("C:\\StudySources\\Master\\ERP\\Datasets\\2011\\IMD_Greater_Manchester.csv", index=False)